/* UNIVERSAL SETTINGS */

body {
    min-width: 507px;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Poppins";
}

p {
    margin: 0;
    font-size: 14px;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 20px;
    font-size: 14px;
}

/* HEADER */

#headerDiv {
    margin: 20px;
    text-align: center;
}

#header {
    font-size: 32px;
}

#owner {
    /* margin-left: 6px; */
    letter-spacing: 5px;
    margin-right: -6px;
}

/* NAVIGATION BAR */

#navigationDiv {
    padding: 12px;
    display: flex;
    position: sticky;
    top: 0;
    flex-direction: row;
    gap: 28px;
    justify-content: center;
    border-top: 1px solid rgb(235, 235, 235);
    background-color: rgb(245, 245, 245);
}

.navigationPara {
    font-weight: bold;
}

/* PRODUCTS PAGE */

#productsDiv {
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex: 1;
}

/* LEFT SIDE OF PRODUCTS PAGE */

.leftColumn {
    width: 60%;
    margin-right: 20px;
}

/* SEARCH BAR */

#searchDiv {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
}

#searchInput {
    width: 227px;
    padding: 5px 10px;
    font-family: "Poppins";
    border: 1px solid rgb(225, 225, 225);
    border-radius: 3px;
}

/* GRID TO DISPLAY PRODUCTS */

:root {
    --card-w: 250px;
    --card-h: 300px;
    --gap: 20px;
}

#gridDiv {
    width: calc(3 * var(--card-w) + 2 * var(--gap));
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
    float: right;
}

.cardDiv {
    width: var(--card-w);
    height: var(--card-h);
    display: flex;
    flex-direction: column;
}

@media (max-width: 1370px) {
    #gridDiv {
        width: calc(2 * var(--card-w) + 1 * var(--gap));
    }
}

@media (max-width: 940px) {
    #gridDiv {
        width: calc(1 * var(--card-w));
    }
}

.imageDiv {
    height: 75%;
    background-color: rgb(245, 245, 245);
}

.nameDiv {
    height: 15%;
    padding: 15px;
    text-align: center;
    background-color: rgb(240, 235, 210);
}

/* RIGHT SIDE OF PRODUCTS PAGE */

.rightColumn {
    width: 38%;
    margin-right: 20px;
}

/* FILTER COLUMN */

#filterDiv {
    width: 250px;
    min-width: 158px;
    max-width: calc(100% - 20px);
    padding: 20px;
    background-color: rgb(245, 245, 245);
}

#filter {
    font-size: 20px;
}

.category {
    margin-top: 10px;
}

.subCategory {
    margin-top: 5px;
}

/* PAGE FOOTER */

#footerDiv {
    padding: 20px;
    text-align: center;
    color: white;
    background-color: rgb(100, 100, 100);
}

#footerContact {
    font-weight: bold;
}
