/* UNIVERSAL SETTINGS */

body {
    min-width: 605px;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Poppins";
}

p {
    margin: 0;
    font-size: 14px;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 20px;
    font-size: 14px;
    list-style-type: none;
}

/* HEADER */

#headerDiv {
    margin: 20px;
    text-align: center;
}

#header {
    margin: 14px 0 6px;
    display: inline-block;
    transform: scaleY(1.5);
    color: rgb(197, 160, 45);
    font-size: 32px;
    font-weight: bold;
    font-family: "Lucida Console", "Courier New", monospace;
}

#owner {
    margin-right: -6px;
    letter-spacing: 5px;
    color: rgb(137, 137, 137);
    font-size: 15px;
    font-family: "Times New Roman", Times, serif;
}

/* NAVIGATION BAR */

#navigationDiv {
    padding: 14px;
    display: flex;
    position: sticky;
    top: 0;
    flex-direction: row;
    gap: 28px;
    justify-content: center;
    border-top: 1px solid rgb(234, 234, 234);
    background-color: rgb(244, 244, 244);
}

a {
    margin-right: -1px;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(197, 160, 45);
}

.active-link-class {
    color: rgb(197, 160, 45);
}

/* PAGE PRESETS */

.pageDiv {
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    flex: 1;
}

/* PRODUCTS PAGE */

/* LEFT SIDE OF PRODUCTS PAGE */

.leftColumn {
    margin-right: 20px;
}

/* SEARCH BAR */

#searchDiv {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
}

#searchInput {
    width: 188px;
    padding: 5px 10px;
    font-family: "Poppins";
    border: 1px solid rgb(225, 225, 225);
    border-right: 0;
    border-radius: 3px 0 0 3px;
}

#searchInput:focus {
    outline: none;
    border: 2px solid rgb(240, 235, 210);
    border-right: 0;
}

#searchButton {
    padding: 12px;
    background-color: rgb(50, 50, 50);
    border: 1px solid rgb(50, 50, 50);;
    border-radius: 0 3px 3px 0;
}

#searchButton:hover {
    background-color: rgb(25, 25, 25);
    cursor: pointer;
}

#searchIcon {
    color: white;
}

/* GRID TO DISPLAY PRODUCTS */

:root {
    --card-w: 250px;
    --card-h: 300px;
    --gap: 20px;
}

.gridDiv {
    width: calc(3 * var(--card-w) + 2 * var(--gap));
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
    float: right;
}

.cardDiv {
    width: var(--card-w);
    height: var(--card-h);
    display: flex;
    flex-direction: column;
}

@media (max-width: 1160px) {
    #gridDiv {
        width: calc(2 * var(--card-w) + 1 * var(--gap));
    }
}

@media (max-width: 890px) {
    #gridDiv {
        width: calc(1 * var(--card-w));
    }
}

.imageDiv {
    height: 75%;
    background-color: rgb(244, 244, 244);
}

.nameDiv {
    height: 15%;
    padding: 15px;
    text-align: center;
    color: rgb(54, 54, 54);
    background-color: rgb(244, 243, 239);
}

/* RIGHT SIDE OF PRODUCTS PAGE */

/* FILTER COLUMN */

#filterDiv {
    width: var(--card-w);
    padding: 20px;
    background-color: rgb(244, 244, 244);
}

#filter {
    font-size: 24px;
    color: rgb(75, 75, 75);
}

.filterCategory {
    margin-top: 16px;
    color: rgb(137, 137, 137);
}

.filterSubCategory {
    margin-top: 16px;
    color: rgb(137, 137, 137);
}

/* CART PAGE */



/* ADMIN PAGE */

.adminButton {
    padding: 6px 10px;
    background-color: rgb(244, 244, 244);
    border: 1px solid rgb(224, 224, 224);
    border-radius: 3px;
    box-shadow: 0 2px rgb(234, 234, 234);
    font-family: "Poppins";
}

.adminButton:hover {
    background-color: rgb(234, 234, 234);
    cursor: pointer;
}

.adminButton:active {
    box-shadow: 0 1px rgb(224, 224, 224);
    transform: translateY(1px);
}

.editDiv {
    margin-bottom: 12px;
}

/* .categoryDiv {
    margin-bottom: 12px;
} */

.adminCategoryP {
    margin: 12px 0px;
}

/* PAGE FOOTER */

#footerDiv {
    padding: 20px;
    text-align: center;
    color: white;
    background-color: rgb(50, 50, 50);
}

#footerContact {
    font-weight: bold;
}
